$golden: 1.618fr;

:host {
  main {
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-areas: "toolbar overview" "editor overview";
    grid-template-rows: 64px 1fr;
    grid-template-columns: $golden 1fr;
    gap: 1em;
    // background: black;
    // &>* {background: white;}
    .toolbar {
      grid-area: toolbar;
    }
    .editor {
      grid-area: editor;
      background: lemonchiffon;
      display: flex;
      flex-direction: column;
    }
    .overview {
      grid-area: overview;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
